<!-- <p>coursecheckout works!</p> -->
<!--[if lt IE 9]>
    <div class="bg-danger text-center">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.
    </div>
<![endif]-->

<!-- <div class="preloader">
    <div class="preloader_image pulse"></div>
</div> -->

<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="widget widget_search">
        <form method="get" class="searchform search-form" action="/">
            <div class="form-group">
                <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
            </div>
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
</div>

<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
    <div class="fw-messages-wrap ls p-normal">
        <!-- Uncomment this UL with LI to show messages in modal popup to your user:
        <ul class="list-unstyled">
            <li>Message To User</li>
        </ul>
        -->
    </div>
</div>
<!-- eof .modal -->

<div class="modal fade popupLogin" id="popupLogin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ds ms overflow-visible s-overlay s-mobile-overlay">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="color-main mb-3">Log in</h4>
                            <form class="form-registration c-mb-20 c-gutter-20" action="/">
                                <div class="row mb-4">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" required placeholder="login" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" placeholder="password" aria-required="true" required>
                                        </div>
                                    </div>
                                </div>
                                <a class="registerRedirect" data-dismiss="modal" data-target="#popupRegistr" data-toggle="modal" href="#">Not a member? Register!</a>
                                <button type="submit" class="btn btn-maincolor mt-30 d-block">Sign In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade popupRegistr" id="popupRegistr" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ds ms overflow-visible s-overlay s-mobile-overlay">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="color-main mb-4">Registration</h4>
                            <form class="form-registration c-mb-20 c-gutter-20" method="post" action="/">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" required placeholder="login" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" placeholder="password" aria-required="true" required>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" placeholder="email" required aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="password" name="confirmPassword" class="form-control" placeholder="password" required aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="checkbox" id="agreed" name="agreed" value="agreed" required aria-required="true">
                                            <label for="agreed">I agree to the rules</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-maincolor mt-30 d-block">Registration</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
    <div id="box_wrapper">
        <!-- template sections -->
        <div class="header_absolute ds cover-background">
            <!-- header with three Bootstrap columns - left for logo, center for navigation and right for includes-->
            <header class="page_header ds ms s-overlay">
                <div class="container-fluid">
                </div>
                <!-- header toggler -->
                <span class="toggle_menu"><span></span></span>
            </header>
        </div>

        <section class="page_title ds s-parallax s-overlay s-pt-160 s-pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>結帳</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Courses</a>
                            </li>
                            <li class="breadcrumb-item active">Checkout</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="ls s-py-90 s-py-xl-160 c-gutter-60">
            <div class="container">
                <div class="row">
                    <main class="col-lg-12">
                        <form name="checkout" method="post" class="checkout woocommerce-checkout" action="/" enctype="multipart/form-data" novalidate="novalidate">
                            
                            <div class="col2-set" id="customer_details">
                                <div class="col-1">
                                    <div class="woocommerce-billing-fields">
                                        <h3>信用卡結帳</h3>
                                        <div class="woocommerce-billing-fields__field-wrapper">
                                            <p class="form-row form-row-wide validate-required" id="cardholder_name_field" data-priority="10">
                                                <label for="cardholder_name">持卡人姓名 <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="input-text" name="cardholder_name" id="cardholder_name" placeholder="持卡人姓名" required>
                                            </p>
                                            <p class="form-row form-row-wide validate-required" id="card_number_field" data-priority="20">
                                                <label for="card_number">信用卡號 <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="input-text" name="card_number" id="card_number" placeholder="信用卡號" required>
                                            </p>
                                            <p class="form-row form-row-first validate-required" id="card_expiry_field" data-priority="30">
                                                <label for="card_expiry">到期日 <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="input-text" name="card_expiry" id="card_expiry" placeholder="MM/YY" required>
                                            </p>
                                            <p class="form-row form-row-last validate-required" id="card_cvv_field" data-priority="40">
                                                <label for="card_cvv">安全碼 <abbr class="required" title="required">*</abbr></label>
                                                <input type="text" class="input-text" name="card_cvv" id="card_cvv" placeholder="CVV" required>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 id="order_review_heading">您的訂單</h3>

                            <div id="order_review" class="woocommerce-checkout-review-order">
                                <table  class="shop_table woocommerce-checkout-review-order-table">
                                    <thead>
                                        <tr>
                                            <th class="product-name">商品</th>
                                            <th class="product-total">金額</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="courseData">
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                <!-- 屏東小琉球｜自由潛水 體驗潛水（無需證照） -->
												{{courseData['startAt']| date:'MM/dd'}}{{courseData['categoryName']}}體驗課程｜免費拍照｜免證照
                                                <div class="quantity-selector" style="display: inline-flex; align-items: center; margin-left: 10px;">
                                                    <button type="button" class="decrement arrow-button" (click)="changeQuantity(-1)">&#9664;</button>
                                                    <span class="quantity-value" style="padding: 0 10px; min-width: 20px; text-align: center;">
                                                        {{ quantity }}
                                                    </span>
                                                    <button type="button" class="increment arrow-button" (click)="changeQuantity(1)">&#9654;</button>
                                                </div>
                                            </td>
                                            <td class="product-total">
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>{{courseData['coursePrice']}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>                                        
                                        <tr class="order-total">
                                            <th>合計</th>
                                            <td>
                                                <strong>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>{{courseData['coursePrice']*quantity}}
                                                    </span>
                                                </strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <!-- <div id="payment" class="woocommerce-checkout-payment">
                                    <ul class="wc_payment_methods payment_methods methods">
                                        <li class="wc_payment_method payment_method_cheque">
                                            <input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque" checked="checked" data-order_button_text="">
                                            <div class="payment_box payment_method_cheque" style="display: none;">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </li>
                                        <li class="wc_payment_method payment_method_cod">
                                            <input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod" data-order_button_text="">
                                        </li>
                                    </ul>
                                    <div class="form-row place-order">
                                        <noscript>
                                            Since your browser does not support JavaScript, or it is disabled, please ensure you click the
                                            &lt;em&gt;Update Totals&lt;/em&gt; button before placing your order. You may be charged more
                                            than the amount stated above if you fail to do so. &lt;br/&gt;&lt;input type="submit"
                                            class="button alt" name="woocommerce_checkout_update_totals" value="Update totals" /&gt;
                                        </noscript>
                                        <input type="submit" [routerLink]="['/courseorderreceived']" name="woocommerce_checkout_place_order" id="place_order" value="確認" data-value="Place order">
                                    </div>
                                </div> -->
                            </div>
                        </form>
						<div id="payment" class="woocommerce-checkout-payment">
							<ul class="wc_payment_methods payment_methods methods">
								<li class="wc_payment_method payment_method_cheque">
									<input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque" checked="checked" data-order_button_text="">
									<div class="payment_box payment_method_cheque" style="display: none;">
										<p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
									</div>
								</li>
								<li class="wc_payment_method payment_method_cod">
									<input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod" data-order_button_text="">
								</li>
							</ul>
							<div class="form-row place-order">
								<noscript>
									Since your browser does not support JavaScript, or it is disabled, please ensure you click the
									&lt;em&gt;Update Totals&lt;/em&gt; button before placing your order. You may be charged more
									than the amount stated above if you fail to do so. &lt;br/&gt;&lt;input type="submit"
									class="button alt" name="woocommerce_checkout_update_totals" value="Update totals" /&gt;
								</noscript>
								<input type="submit" [routerLink]="['/courseorderreceived']" name="woocommerce_checkout_place_order" id="place_order" value="確認" data-value="Place order"  (click)="submitOrder()">
							</div>
						</div>
                    </main>
                </div>
            </div>
        </section>

        <footer class="page_footer ds ms s-py-90 s-py-xl-160 c-gutter-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-3 text-center text-lg-left animate" data-animation="fadeInUp">
                        <div class="widget widget_text">
                            <img src="images/logo.png" alt="logo">
                            <p>
                                The estuary is the well-known kite spot in the lagoon. Two launches are possible.
                            </p>
                            <p class="social-icons">
                                <a href="https://www.facebook.com/" class="fa bg-icon rounded-icon fa-facebook" title="facebook"></a>
                                <a href="https://twitter.com/" class="fa bg-icon rounded-icon fa-twitter" title="twitter"></a>
                                <a href="https://www.instagram.com/" class="fa bg-icon rounded-icon fa-instagram" title="instagram"></a>
                            </p>
                        </div>
                        <div class="divider-60 divider-lg-0"></div>
                    </div>

                    <div class="col-xl-4 col-lg-5 text-center text-lg-left animate" data-animation="fadeInUp">
                        <div class="widget widget_nav_menu">
                            <h3>Userful Link</h3>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="./index_blocks.html">Homeblocks</a>
                                </li>
                                <li class="menu-item">
                                    <a href="./about.html">About</a>
                                </li>
                                <li class="menu-item">
                                    <a href="./team.html">Team</a>
                                </li>
                                <li class="menu-item">
                                    <a href="./contact.html">Contact Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="./pricing.html">Pricing</a>
                                </li>
                                <li class="menu-item">
                                    <a href="./shortcodes_typography.html">Typography</a>
                                </li>
                                <li class="menu-item">
                                    <a href="./shop-left.html">Shop</a>
                                </li>
                                <li class="menu-item">
                                    <a href="./services2.html">Services</a>
                                </li>
                                <li class="menu-item">
                                    <a href="./service-single.html">Single Service</a>
                                </li>
                                <li class="menu-item">
                                    <a href="./gallery-tiled.html">Gallery</a>
                                </li>
                            </ul>
                        </div>
                        <div class="divider-60 divider-lg-0"></div>
                    </div>

                    <div class="col-xl-4 col-lg-4 text-center text-lg-left animate" data-animation="fadeInUp">
                        <div class="widget widget_flickr">
                            <h3 class="widget-title">Flickr</h3>
                            <ul class="flickr_ul"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <section class="page_copyright ls s-py-25">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <p>&copy; Copyright <span class="copyright_year">2020</span> All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- eof #box_wrapper -->
</div>
<!-- eof #canvas -->
