<!-- 假設這是你 Single Product 詳細頁的 HTML -->
<section class="page_title ds s-parallax s-overlay s-pt-160 s-pb-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Shop Product with Right Sidebar</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="./">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Shop</a>
          </li>
          <li class="breadcrumb-item active">
            Shop Product with Right Sidebar
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- ...原本 header/nav/breadcrumbs 略... -->

<section class="ls s-py-90 s-py-xl-160 c-gutter-60">
  <div class="container">
    <div class="row">
      <div class="product">
        <!-- 商品圖片區(略) -->
        <!-- 先判斷 productDetail 存在，再判斷檔名 -->
        <div class="images" data-columns="4" *ngIf="productDetail as pd">
          <figure class="main-image-container">
            <!-- 大圖 (主圖) -->
            <img
              class="product-main-img"
              [src]="'assets/images/shop/' + productDetail!.imageUrl"
              alt="主圖"
              (click)="
                openModal('assets/images/shop/' + productDetail!.imageUrl)
              "
            />

            <!-- 若是 M 開頭檔名，就顯示第二張 -->
            <img
              *ngIf="productDetail!.imageUrl.startsWith('M')"
              class="hover-img"
              [src]="
                'assets/images/shop/' +
                productDetail!.imageUrl.replace('.jpg', '-1.jpg')
              "
              alt="第二張圖片"
            />
          </figure>

          <!-- 縮圖列 -->
          <ng-container
            *ngIf="
              productDetail!.images && productDetail!.images.length > 0;
              else noThumbnails
            "
          >
            <ul class="thumbnails-list">
              <!-- 假設有幾張小圖 (此範例示範 3~4 張) -->
              <li *ngFor="let filename of productDetail!.images">
                <img
                  [src]="'assets/images/shop/' + filename"
                  alt="圖1"
                  (click)="openModal('assets/images/shop/' + filename)"
                />
              </li>
            </ul>
          </ng-container>
          <ng-template #noThumbnails>
            <!-- 沒有縮圖可顯示的提示 (可自行取代) -->
            <p>暫無其他縮圖</p>
          </ng-template>
          <!-- 如果還有更多花色或變化圖，就再添加 -->

          <div class="image-overlay" *ngIf="isModalOpen" (click)="closeModal()">
            <!-- 圖片容器，阻止冒泡以避免點擊圖片就關掉 modal -->
            <div
              class="image-overlay-content"
              (click)="$event.stopPropagation()"
            >
              <img [src]="selectedImage" alt="放大圖" />
            </div>
          </div>
        </div>

        <div class="summary entry-summary" *ngIf="productDetail">
          <h1 class="product_title entry-title">
            {{ productDetail.productName }}
          </h1>
          <div class="star-rating">
            <span style="width: 72.6%"
              >Rated <strong class="rating">4.33</strong> out of 5 based on
              <span class="rating">3</span> customer ratings</span
            >
          </div>
          <a href="#reviews" class="woocommerce-review-link" rel="nofollow"
            >(<span class="count">3</span> customer reviews)</a
          >

          <p>價格: {{ productDetail.unitPrice }}</p>
          <p>{{ productDetail.description }}</p>
          <div>
            <p>
              Pellentesque habitant morbi tristique senectus et netus et
              malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
              vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
              amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
              placerat eleifend leo.
            </p>
          </div>

          <!-- 顏色 / 尺寸 -->
          <form>
            <div *ngIf="colors.length > 0">
              <label for="colorSelect">Color:</label>
              <div
                class="color-box"
                *ngFor="let c of colors"
                [style.backgroundColor]="c.color"
                (click)="onColorClick(c)"
                [class.disabled]="!c.hasStock"
                [class.active]="c.colorId === selectedColor"
              ></div>
            </div>
            <div *ngIf="sizes.length > 0">
              <label for="sizeSelect">Size:</label>
              <div
                class="size-btn"
                *ngFor="let s of sizes"
                (click)="onSizeClick(s)"
                [class.disabled]="!s.hasStock"
                [class.active]="s.sizeId === selectedSize"
              >
                {{ s.size }}
              </div>
            </div>
            <div *ngIf="thicknesses.length > 0">
              <div class="flex-container">
                <label>Thickness:</label>
                <div
                  class="thickness-btn"
                  *ngFor="let t of thicknesses"
                  (click)="onThicknessClick(t)"
                  [class.active]="t.id === selectedThickness"
                >
                  {{ t.name }}
                </div>
              </div>
            </div>

            <!-- gender -->
            <div *ngIf="genders.length > 0">
              <div class="flex-container">
                <label>Gender:</label>
                <div
                  class="gender-btn"
                  *ngFor="let g of genders"
                  (click)="onGenderClick(g)"
                  [class.active]="g.id === selectedGender"
                >
                  {{ g.name }}
                </div>
              </div>
            </div>

            <!-- 數量 -->

            <div>
              <label for="qtyInput">數量:</label>
              <input
                class="qty-input"
                type="number"
                [(ngModel)]="quantity"
                name="quantity"
                min="1"
              />
            </div>

            <br />

            <!-- 加入購物車 -->
            <button
              class="button product_type_simple add_to_cart_button"
              [disabled]="!canAddToCart"
              (click)="onConfirmAddToCart()"
            >
              Add to cart
            </button>
          </form>
        </div>

        <div *ngIf="!productDetail">
          <p>載入中或找不到商品</p>
        </div>
      </div>

      <!-- 如果需要 SKU, Category, Tag ...
            <div class="product_meta">
              <span class="sku_wrapper"
                >SKU: <span class="sku">{{ productDetail?.sku }}</span>
              </span>
            </div>
          </div>



<-- 下面表格欄 -->
      <div class="woocommerce-tabs wc-tabs-wrapper">
        <ul class="tabs wc-tabs" role="tablist">
          <li
            class="description_tab"
            id="tab-title-description"
            role="tab"
            aria-controls="tab-description"
          >
            <a href="#tab-description">Description</a>
          </li>
          <li
            class="additional_information_tab active"
            id="tab-title-additional_information"
            role="tab"
            aria-controls="tab-additional_information"
          >
            <a href="#tab-additional_information">Additional information</a>
          </li>
          <li
            class="reviews_tab"
            id="tab-title-reviews"
            role="tab"
            aria-controls="tab-reviews"
          >
            <a href="#tab-reviews">Reviews (3)</a>
          </li>
        </ul>

        <div
          class="panel wc-tab"
          id="tab-description"
          role="tabpanel"
          aria-labelledby="tab-title-description"
        >
          <h2>Description</h2>

          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
            ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
            egestas semper. Aenean ultricies mi vitae est. Mauris placerat
            eleifend leo.
          </p>
        </div>
        <div
          class="panel wc-tab"
          id="tab-additional_information"
          role="tabpanel"
          aria-labelledby="tab-title-additional_information"
        >
          <h2>Additional information</h2>

          <table class="shop_attributes">
            <tbody>
              <tr>
                <th>Color</th>
                <td>
                  <p>Blue</p>
                </td>
              </tr>
              <tr>
                <th>Size</th>
                <td>
                  <p>
                    X Small, Small, Medium, Large, X Large, XX Large, XXX Large
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="panel wc-tab"
          id="tab-reviews"
          role="tabpanel"
          aria-labelledby="tab-title-reviews"
        >
          <div id="reviews">
            <div id="comments">
              <h2>3 reviews for <span>Ship Your Idea</span></h2>

              <ol class="commentlist">
                <li class="comment even thread-even depth-1" id="li-comment-34">
                  <div id="comment-34" class="comment_container">
                    <img
                      alt="img"
                      src="http://2.gravatar.com/avatar/babdd787a9577a0e615246ac79cf2826?s=60&amp;d=mm&amp;r=g"
                      srcset="
                        http://2.gravatar.com/avatar/babdd787a9577a0e615246ac79cf2826?s=120&amp;d=mm&amp;r=g 2x
                      "
                      class="avatar avatar-60 photo"
                      height="60"
                      width="60"
                    />
                    <div class="comment-text">
                      <div class="star-rating">
                        <span style="width: 80%"
                          >Rated <strong class="rating">4</strong> out of
                          5</span
                        >
                      </div>
                      <p class="meta">
                        <strong>James Koster</strong> <span>–</span>
                        <time datetime="2013-06-07T11:43:13+00:00"
                          >June 7, 2013
                        </time>
                      </p>

                      <div class="description">
                        <p>
                          Nice T-shirt, I got one in black. Goes with anything!
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- #comment-## -->
                <li
                  class="comment odd alt thread-odd thread-alt depth-1"
                  id="li-comment-35"
                >
                  <div id="comment-35" class="comment_container">
                    <img
                      alt="img"
                      src="http://0.gravatar.com/avatar/f0cde930b42c79145194679d5b6e3b1d?s=60&amp;d=mm&amp;r=g"
                      srcset="
                        http://0.gravatar.com/avatar/f0cde930b42c79145194679d5b6e3b1d?s=120&amp;d=mm&amp;r=g 2x
                      "
                      class="avatar avatar-60 photo"
                      height="60"
                      width="60"
                    />
                    <div class="comment-text">
                      <div class="star-rating">
                        <span style="width: 80%"
                          >Rated <strong class="rating">4</strong> out of
                          5</span
                        >
                      </div>
                      <p class="meta">
                        <strong>Cobus Bester</strong> <span>–</span>
                        <time datetime="2013-06-07T11:55:15+00:00"
                          >June 7, 2013
                        </time>
                      </p>

                      <div class="description">
                        <p>Very comfortable shirt, and I love the graphic!</p>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- #comment-## -->
                <li class="comment even thread-even depth-1" id="li-comment-36">
                  <div id="comment-36" class="comment_container">
                    <img
                      alt="img"
                      src="http://1.gravatar.com/avatar/7a6df00789e50714fcde1b759befcc84?s=60&amp;d=mm&amp;r=g"
                      srcset="
                        http://1.gravatar.com/avatar/7a6df00789e50714fcde1b759befcc84?s=120&amp;d=mm&amp;r=g 2x
                      "
                      class="avatar avatar-60 photo"
                      height="60"
                      width="60"
                    />
                    <div class="comment-text">
                      <div class="star-rating">
                        <span style="width: 100%"
                          >Rated <strong class="rating">5</strong> out of
                          5</span
                        >
                      </div>
                      <p class="meta">
                        <strong>Stuart</strong>
                        <span>–</span>
                        <time datetime="2013-06-07T13:02:14+00:00"
                          >June 7, 2013
                        </time>
                      </p>

                      <div class="description">
                        <p>
                          Great T-shirt quality, Great Design and Great Service.
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- #comment-## -->
              </ol>
            </div>

            <div id="review_form_wrapper">
              <div id="review_form">
                <div id="respond" class="comment-respond">
                  <span id="reply-title" class="comment-reply-title"
                    >Add a review
                    <small>
                      <a
                        rel="nofollow"
                        id="cancel-comment-reply-link"
                        href="#respond"
                        style="display: none"
                        >Cancel reply</a
                      >
                    </small>
                  </span>
                  <form
                    action="/"
                    method="post"
                    id="commentform"
                    class="comment-form"
                    novalidate=""
                  >
                    <p class="comment-notes">
                      <span id="email-notes"
                        >Your email address will not be published.</span
                      >
                      Required fields are marked
                      <span class="required">*</span>
                    </p>
                    <div class="comment-form-rating">
                      <label>Your rating</label>
                      <p class="stars">
                        <span>
                          <a class="star-1" href="#">1</a>
                          <a class="star-2" href="#">2</a>
                          <a class="star-3" href="#">3</a>
                          <a class="star-4" href="#">4</a>
                          <a class="star-5" href="#">5</a>
                        </span>
                      </p>
                    </div>
                    <p class="comment-form-comment">
                      <label for="comment"
                        >Your review <span class="required">*</span>
                      </label>
                      <textarea
                        id="comment"
                        name="comment"
                        cols="45"
                        rows="8"
                        aria-required="true"
                        required=""
                      >
                      </textarea>
                    </p>
                    <p class="comment-form-author">
                      <label for="author"
                        >Name <span class="required">*</span>
                      </label>
                      <input
                        id="author"
                        name="author"
                        type="text"
                        value=""
                        size="30"
                        aria-required="true"
                        required=""
                      />
                    </p>
                    <p class="comment-form-email">
                      <label for="email"
                        >Email <span class="required">*</span>
                      </label>
                      <input
                        id="email"
                        name="email"
                        type="email"
                        value=""
                        size="30"
                        aria-required="true"
                        required=""
                      />
                    </p>
                    <p class="form-submit">
                      <input
                        name="submit"
                        type="submit"
                        id="submit"
                        class="submit"
                        value="Submit"
                      />
                    </p>
                  </form>
                </div>
                <!-- #respond -->
              </div>
            </div>

            <div class="clear"></div>
          </div>
        </div>
      </div>

      <!-- 側邊欄 (略) -->
    </div>
  </div>
</section>
