<div>
  <h1>Shop</h1>
  <br />
  <div class="container">
    <div class="products-selection">
      <p class="woocommerce-result-count">Showing all 23 results</p>
      <form class="woocommerce-ordering" method="get">
        <select name="orderby" class="orderby">
          <option value="menu_order" selected="selected">
            Default sorting
          </option>
          <option value="popularity">基本浮潛裝備</option>
          <option value="rating">水肺潛水裝備</option>
          <option value="date">自由潛水裝備</option>
          <option value="price">保暖/防護裝備</option>
          <option value="price-desc">配件 / 其他</option>
        </select>
      </form>
    </div>
  </div>

  <!-- 商品列表 -->
  <section class="ls s-py-90 s-py-xl-160 c-gutter-60">
    <div class="container">
      <div class="row">
        <main class="col-lg-7 col-xl-8">
          <ul class="products columns-2">
            <li class="product" *ngFor="let product of products">
              <div class="product-inner">
                <!-- 假設有 product.imageUrl -->
                <!-- <img [src]="product.imageUrl" alt="{{ product.productName }}" /> -->
                <!-- </a> -->
                <div class="product-wrap">
                  <h2 class="woocommerce-loop-product__title">
                    <a [routerLink]="['/shopproductshow', product.productId]">
                      {{ product.productName }}</a
                    >
                  </h2>
                  <div class="star-rating">
                    <span style="width: 80%"
                      >Rated <strong class="rating">4.00</strong> out of 5</span
                    >
                  </div>
                  <div class="price-wrap">
                    <span class="price">
                      <span><span>$</span>{{ product.unitPrice }}</span>
                    </span>
                    <!-- 當按下按鈕時呼叫 onAddToCart(product)，進而載入該商品的變體資料 -->
                    <a
                      class="button product_type_simple add_to_cart_button"
                      [routerLink]="['/shopproductshow', product.productId]"
                    >
                      Add to cart</a
                    >
                    <!-- <button (click)="onAddToCart(product)">Add to cart</button> -->
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </main>
        <aside class="col-lg-5 col-xl-4">
          <div class="ls ms">
            <div class="widget widget_product_search">
              <h3 class="widget-title">Search</h3>

              <form role="search" class="woocommerce-product-search" action="/">
                <label
                  class="screen-reader-text"
                  for="woocommerce-product-search-field-widget"
                >
                  Search for:
                </label>

                <input
                  type="search"
                  id="woocommerce-product-search-field-widget"
                  class="search-field"
                  placeholder="Search products..."
                  value=""
                  name="search"
                />
                <input type="submit" value="Search" />
              </form>
            </div>
          </div>

          <div class="widget woocommerce widget_product_categories">
            <h3 class="widget-title">Categories</h3>
            <ul class="product-categories">
              <li class="cat-item cat-parent">
                <a href="shop-right.html">Clothing</a>
                <span class="count">(12)</span>
                <ul class="children">
                  <li class="cat-item">
                    <a href="shop-right.html">Hoodies</a>
                    <span class="count">(46)</span>
                  </li>
                  <li class="cat-item">
                    <a href="shop-right.html">T-shirts</a>
                    <span class="count">(165)</span>
                  </li>
                </ul>
              </li>
              <li class="cat-item cat-parent">
                <a href="shop-right.html">Music</a>
                <span class="count">(16)</span>
                <ul class="children">
                  <li class="cat-item">
                    <a href="shop-right.html">Albums</a>
                    <span class="count">(24)</span>
                  </li>
                  <li class="cat-item">
                    <a href="shop-right.html">Singles</a>
                    <span class="count">(2)</span>
                  </li>
                </ul>
              </li>
              <li class="cat-item">
                <a href="shop-right.html">Posters</a>
                <span class="count">(45)</span>
              </li>
            </ul>
          </div>

          <div class="widget woocommerce widget_top_rated_products">
            <h3 class="widget-title">Top Products</h3>
            <ul class="product_list_widget">
              <li>
                <a href="shop-product-right.html">
                  <img src="images/shop/01.jpg" alt="img" />
                  <span class="product-title">Ninja Silhouette</span>
                </a>
                <div class="star-rating">
                  <span style="width: 100%"
                    >Rated
                    <strong class="rating">5.00 </strong>
                    out of 5
                  </span>
                </div>
                <span class="woocommerce-Price-amount amount">
                  <span class="woocommerce-Price-currencySymbol">$</span>
                  20.00
                </span>
              </li>

              <li>
                <a href="shop-product-right.html">
                  <img src="images/shop/02.jpg" alt="img" />
                  <span class="product-title">Woo Album #4</span>
                </a>
                <div class="star-rating">
                  <span style="width: 100%"
                    >Rated
                    <strong class="rating">5.00</strong>
                    out of 5
                  </span>
                </div>
                <span class="woocommerce-Price-amount amount">
                  <span class="woocommerce-Price-currencySymbol">$</span>
                  9.00
                </span>
              </li>

              <li>
                <a href="shop-product-right.html">
                  <img src="images/shop/03.jpg" alt="img" />
                  <span class="product-title">Happy Ninja</span>
                </a>
                <div class="star-rating">
                  <span style="width: 100%"
                    >Rated
                    <strong class="rating">5.00</strong>
                    out of 5
                  </span>
                </div>
                <span class="woocommerce-Price-amount amount">
                  <span class="woocommerce-Price-currencySymbol">$</span>
                  18.00
                </span>
              </li>

              <li>
                <a href="shop-product-right.html">
                  <img src="images/shop/04.jpg" alt="img" />
                  <span class="product-title">Patient Ninja</span>
                </a>
                <div class="star-rating">
                  <span style="width: 93.4%"
                    >Rated
                    <strong class="rating">4.67</strong>
                    out of 5
                  </span>
                </div>
                <span class="woocommerce-Price-amount amount">
                  <span class="woocommerce-Price-currencySymbol">$</span>
                  35.00
                </span>
              </li>

              <li>
                <a href="shop-product-right.html">
                  <img src="images/shop/05.jpg" alt="img" />
                  <span class="product-title">Premium Quality</span>
                </a>
                <div class="star-rating">
                  <span style="width: 90%"
                    >Rated
                    <strong class="rating">4.50</strong>
                    out of 5
                  </span>
                </div>
                <span class="woocommerce-Price-amount amount">
                  <span class="woocommerce-Price-currencySymbol">$</span>
                  20.00
                </span>
              </li>
            </ul>
          </div>
        </aside>
      </div>

      <!-- 變體選擇彈窗 (Modal) -->
      <div
        *ngIf="selectedProduct && productVariants.length > 0"
        class="variant-modal"
      >
        <div class="modal-content">
          <h2>Select options for {{ selectedProduct.productName }}</h2>
          <div class="variant-option">
            <label for="sizeSelect">Size:</label>
            <select
              id="sizeSelect"
              [(ngModel)]="selectedSize"
              (change)="onVariantChange()"
            >
              <option *ngFor="let size of sizes" [value]="size.id">
                {{ size.name }}
              </option>
            </select>

            <div class="variant-option">
              <label for="colorSelect">Color:</label>
              <select
                id="colorSelect"
                [(ngModel)]="selectedColor"
                (change)="onVariantChange()"
              >
                <option *ngFor="let color of colors" [value]="color.id">
                  {{ color.name }}
                </option>
              </select>
            </div>
            <button (click)="onConfirmAddToCart()">Confirm Add to Cart</button>
            <button (click)="cancelVariantSelection()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
