<!-- wrappers for visual page editor and boxed version of template -->

<section class="page_slider slider-1">
  <div class="flexslider">
    <ul class="slides">
      <li class="ds cover-image text-center text-lg-left">
        <img src="assets/images/slide01.jpg" alt="img">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer" data-animation="fadeInRight">
                    <div class="divider-90"></div>
                    <div class="d-inline-block">
                      <h3 class="intro_before_featured_word">
                        台灣頂級
                      </h3>
                      <h2 class="intro_featured_word">
                        潛水用具
                      </h2>
                      <h6 class="intro_after_featured_word">
                        優良認證用具
                      </h6>
                    </div>
                  </div>
                  <div class="intro_layer" data-animation="fadeInUp">
                    <a href="./pricing.html" class="btn btn-maincolor btn-slider btn-medium">購買商品</a>
                  </div>
                </div> <!-- eof .intro_layers -->
              </div> <!-- eof .intro_layers_wrapper -->
            </div> <!-- eof .col-* -->
          </div><!-- eof .row -->
        </div><!-- eof .container-fluid -->
      </li>
      <li class="ls cover-image text-center text-lg-left">
        <img src="assets/images/slide02.jpg" alt="img">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer" data-animation="fadeInRight">
                    <div class="divider-90"></div>
                    <div class="d-inline-block">
                      <h3 class="intro_before_featured_word">
                        專業友善
                      </h3>
                      <h2 class="intro_featured_word">
                        潛水訓練
                      </h2>
                      <h6 class="intro_after_featured_word">
                        國際認證課程
                      </h6>
                    </div>
                  </div>
                  <div class="intro_layer" data-animation="fadeInUp">
                    <a href="./pricing.html" class="btn btn-maincolor btn-slider btn-medium">預約課程</a>
                  </div>
                </div> <!-- eof .intro_layers -->
              </div> <!-- eof .intro_layers_wrapper -->
            </div> <!-- eof .col-* -->
          </div><!-- eof .row -->
        </div><!-- eof .container-fluid -->
      </li>
      <li class="ls cover-image text-center text-lg-left">
        <img src="assets/images/slide03.jpg" alt="img">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer" data-animation="fadeInRight">
                    <div class="divider-90"></div>
                    <div class="d-inline-block">
                      <h3 class="intro_before_featured_word">
                        頂級設施
                      </h3>
                      <h2 class="intro_featured_word">
                        潛水體驗
                      </h2>
                      <h6 class="intro_after_featured_word">
                        全球公認潛點
                      </h6>
                    </div>
                  </div>
                  <div class="intro_layer" data-animation="fadeInUp">
                    <a href="./pricing.html" class="btn btn-maincolor btn-slider btn-medium">預約場地</a>
                  </div>
                </div> <!-- eof .intro_layers -->
              </div> <!-- eof .intro_layers_wrapper -->
            </div> <!-- eof .col-* -->
          </div><!-- eof .row -->
        </div><!-- eof .container-fluid -->
      </li>
    </ul>
  </div> <!-- eof flexslider -->
</section>


<!-- Section About -->
<section id="about" class="ls ms section-about s-py-90 s-py-xl-160 text-center text-md-left">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="text-center text-md-left color-darkgrey mb-1">
          <span class="line-left">關於我們</span>
        </p>
        <h3 class="text-center text-md-left mt-0 mb-2 special-heading color-darkgrey">
          <span>潛力無限</span>
        </h3>
        <p class="text-center text-md-left color-darkgrey fs-20 fw-500">
          <span>熱愛潛水，陪伴您探索水下世界</span>
        </p>
        <div class="divider-40 divider-xl-50"></div>
        <div class="border-left-custom">
          <p>
            我們對潛水充滿熱情，致力於幫助各個級別的潛水員自信地探索海底世界。我們的目標是為潛水愛好者提供一個可靠且專業的學習、訓練與交流空間。
          </p>
        </div>
        <div class="divider-40 divider-xl-50"></div>
        <div class="several-buttons">
          <a href="./pricing.html" class="btn btn-maincolor btn-medium">預約課程</a>
          <a href="./about.html" class="btn btn-outline-maincolor btn-medium">了解更多</a>
        </div>
        <div class="divider-60 divider-lg-0"></div>
      </div>
      <div class="col-lg-6 mr--100-xl-with-scale">
        <div class="post_format-post-format-video">
          <div class="embed-responsive embed-responsive-3by2">
            <a href="https://www.youtube.com/embed/mcixldqDIEQ" class="embed-placeholder">
              <img src="assets/images/bg-video.jpg" alt="img">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Counter -->
<section id="features" class="ls section-counter s-overlay mobile-overlay s-py-90 s-py-xl-160 c-gutter-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <p class="text-center text-md-left color-darkgrey mb-1">
          <span class="line-left">服務</span>
        </p>
        <h3 class="text-center text-md-left mt-0 mb-2 special-heading color-darkgrey">
          <span>我們提供什麼？</span>
        </h3>
        <p class="text-center text-md-left color-darkgrey fs-20 fw-500">
          <span>滿足每位潛水員需求的培訓、裝備與設施。</span>
        </p>
        <div class="divider-60 divider-xl-90"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="icon-box text-center text-md-left">
              <!-- <div class="icon-styled color-darkgrey fs-50">
                <i class="ico ico-wave"></i>
              </div> -->
              <h3 class="special-heading text-uppercase counter-wrap color-main mt-2 mb-3">
                潛水課程
              </h3>
              <p>水肺潛水、浮潛與自由潛水課程</p>
            </div>
            <div class="divider-30 divider-lg-0"></div>
          </div>
          <div class="col-md-4">
            <div class="icon-box text-center text-md-left">
              <!-- <div class="icon-styled color-darkgrey fs-50">
                <i class="ico ico-surf"></i>
              </div> -->
              <h3 class="special-heading text-uppercase counter-wrap color-main mt-2 mb-3">
                潛水池租借
              </h3>
              <p>深水訓練池與室內潛水設施預約</p>
            </div>
            <div class="divider-30 divider-lg-0"></div>
          </div>
          <div class="col-md-4">
            <div class="icon-box text-center text-md-left">
              <!-- <div class="icon-styled color-darkgrey fs-50">
                <i class="ico ico-calm"></i>
              </div> -->
              <h3 class="special-heading text-uppercase counter-wrap color-main mt-2 mb-3">
                潛水設備
              </h3>
              <p>全新與二手潛水裝備</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Services -->
<section id="services" class="ls ms s-py-90 s-py-xl-160">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-xl-3 section-special small-section">
        <div>
          <div class="content-center">
            <p class="text-center text-lg-left color-darkgrey mb-1">
              <span class="line-left">全新產品</span>
            </p>
            <h3 class="text-center text-lg-left mt-0 mb-2 special-heading color-darkgrey">
              <span>熱門產品</span>
            </h3>
            <p class="text-center text-lg-left color-darkgrey fs-20 fw-500">
              <span>無論是水肺潛水、自由潛水或浮潛，我們精選高品質的全新與二手潛水用品，包括面鏡、呼吸管、蛙鞋、防寒衣、BCD、調節器等，讓您安全舒適地享受每一次潛水體驗。</span>
            </p>
            <div class="divider-35"></div>
            <div class="owl-custom-nav hidden-below-lg">
              <a href="#" class="owl-prev"><i class="fa fa-chevron-left"></i></a>
              <a href="#" class="owl-next"><i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-9">
        <div class="quote-carousel owl-carousel" data-margin="50" data-responsive-xl="4" data-responsive-ml="3"
          data-responsive-lg="2" data-responsive-md="1" data-responsive-sm="2" data-responsive-xs="1" data-dots="false"
          data-loop="true" data-autoplay="true">
          <div class="vertical-item service-layout-1 ls">
            <div class="item-media">
              <img src="assets/images/services/img_4.jpg" alt="img">
              <div class="media-links">
                <a class="abs-link" title="" href="service-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <div class="item-content-wrap">
                <!-- <span class="cat-links">
                  <span class="screen-reader-text">Categories</span>
                  <a href="service-single.html" rel="category tag">
                    Services
                  </a>
                </span> -->
                <h5 class="mt-1">
                  <a href="service-single.html">CARBONIO GFT - NANO 3D 全碳纖維長蛙鞋板</a>
                </h5>
                <p>
                  「雙勺Double Spoon」結構混合納米碳纖維技術蛙鞋板，絕佳的蛙鞋強韌度 超輕量-FORCE波浪型結構加強版本，板材厚度更輕薄(單支僅300g)。
                </p>
              </div>
              <a href="service-single.html" class="btn-booking">看更多</a>
            </div>
          </div>
          <div class="vertical-item service-layout-1 ls">
            <div class="item-media">
              <img src="assets/images/services/img_5.jpg" alt="img">
              <div class="media-links">
                <a class="abs-link" title="" href="service-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <div class="item-content-wrap">
                <!-- <span class="cat-links">
                  <span class="screen-reader-text">Categories</span>
                  <a href="service-single.html" rel="category tag">
                    Services
                  </a>
                </span> -->
                <h5 class="mt-1">
                  <a href="service-single.html">ATOMIC - TFX 調節器</a>
                </h5>
                <p>由實心鈦棒精密加工製成。獨特4X Yoke設計，只需一次轉動即可固定或卸下氣瓶。Atomic Aquatics噴射高流量活塞。</p>
              </div>
              <a href="service-single.html" class="btn-booking">看更多</a>
            </div>
          </div>
          <div class="vertical-item service-layout-1 ls">
            <div class="item-media">
              <img src="assets/images/services/img_1.jpg" alt="img">
              <div class="media-links">
                <a class="abs-link" title="" href="service-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <div class="item-content-wrap">
                <!-- <span class="cat-links">
                  <span class="screen-reader-text">Categories</span>
                  <a href="service-single.html" rel="category tag">
                    Services
                  </a>
                </span> -->
                <h5 class="mt-1">
                  <a href="service-single.html">SUUNTO - OCEAN潛水電腦錶</a>
                </h5>
                <p>
                最大潛水深度60m，適用休閒潛水活動。支援水肺潛水、自由潛水，並有跑步、登山、游泳、健身等多達95種運動模式，為你記錄每次挑戰自我的時刻。</p>
              </div>
              <a href="service-single.html" class="btn-booking">看更多</a>
            </div>
          </div>
          <div class="vertical-item service-layout-1 ls">
            <div class="item-media">
              <img src="assets/images/services/img_6.jpg" alt="img">
              <div class="media-links">
                <a class="abs-link" title="" href="service-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <div class="item-content-wrap">
                <!-- <span class="cat-links">
                  <span class="screen-reader-text">Categories</span>
                  <a href="service-single.html" rel="category tag">
                    Services
                  </a>
                </span> -->
                <h5 class="mt-1">
                  <a href="service-single.html">MOBBY'S - 配重背心/ DA-6290</a>
                </h5>
                <p>
                有效改善重量集中於腰部所帶來的不適，從肩到背平均分擔重量，改善水下的平衡。帶子的長度與寬度都可以個別調整，乾式與溼式防寒皆可使用。
              </p>
              </div>
              <a href="service-single.html" class="btn-booking">看更多</a>
            </div>
          </div>
          <div class="vertical-item service-layout-1 ls">
            <div class="item-media">
              <img src="assets/images/services/img_3.jpg" alt="img">
              <div class="media-links">
                <a class="abs-link" title="" href="service-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <div class="item-content-wrap">
                <!-- <span class="cat-links">
                  <span class="screen-reader-text">Categories</span>
                  <a href="service-single.html" rel="category tag">
                    Services
                  </a>
                </span> -->
                <h5 class="mt-1">
                  <a href="service-single.html">LOONG DIVE - 醫療級CPR面罩</a>
                </h5>
                <p>
                面罩體積小，可以置於衣袋中隨身攜帶，是世界使用廣泛的CPR呼吸面罩。將低阻力單向閥門和防水過濾器組合在一起，確保急救人員不受感染。
                </p>
              </div>
              <a href="service-single.html" class="btn-booking">看更多</a>
            </div>
          </div>
          <div class="vertical-item service-layout-1 ls">
            <div class="item-media">
              <img src="assets/images/services/img_2.jpg" alt="img">
              <div class="media-links">
                <a class="abs-link" title="" href="service-single.html"></a>
              </div>
            </div>
            <div class="item-content">
              <div class="item-content-wrap">
                <!-- <span class="cat-links">
                  <span class="screen-reader-text">Categories</span>
                  <a href="service-single.html" rel="category tag">
                    Services
                  </a>
                </span> -->
                <h5 class="mt-1">
                  <a href="service-single.html">MOBBY'S - 訂製款防寒衣 QUEEN ALLURE</a>
                </h5>
                <p>
                防寒衣王者 MOBBY'S 高階量身訂製款式，絕佳合身與活動性。日製高品質/晉身玩家級訂製款。
              </p>
              </div>
              <a href="service-single.html" class="btn-booking">看更多</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Gallery -->
<section id="gallery" class="ls ds s-pt-90 s-pb-80 s-pt-xl-160 s-pb-xl-150 c-gutter-10">
 <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="content-center">
          <div class="divider-lg-25 divider-xl-50"></div>
          <p class="text-center text-md-left color-main mb-1">
            <span class="line-left">場地</span>
          </p>
          <h3 class="text-center text-md-left mt-0 mb-2 special-heading color-darkgrey">
            <span>潛水池包場租借</span>
          </h3>
          <p class="text-center text-md-left color-darkgrey fs-20 fw-500">
            <span>提供專業潛水池包場租借服務，適合潛水訓練、團體活動或個人練習。設施完善，水質維護良好，確保安全與舒適的潛水體驗。</span>
          </p>
          <div class="divider-40 divider-lg-25 divider-xl-50"></div>
          <div class="post_format-post-format-video">
            <div class="embed-responsive embed-responsive-3by2">
              <a href="https://www.youtube.com/embed/mcixldqDIEQ" class="embed-placeholder">
                <!-- <img src="assets/images/bg-video.jpg" alt="img"> -->
                <img src="assets/images/gallery/32-add.jpg" alt="img">
              </a>
            </div>
          </div>
          <div class="divider-10 divider-lg-0"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row isotope-wrapper  c-mb-10">
          <div class="col-lg-12">
            <div class="vertical-item item-gallery content-absolute ds">
              <div class="item-media">
                <img src="assets/images/gallery/27.jpg" alt="img">
              </div>
              <div class="item-content dark-bg">
                <h5>
                  <a href="gallery-single.html">極限深度訓練池</a>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="vertical-item item-gallery content-absolute ds">
              <div class="item-media">
                <img src="assets/images/gallery/17.jpg" alt="img">
              </div>
              <div class="item-content dark-bg">
                <h5>
                  <a href="gallery-single.html">Deepspot 世界級潛水池</a>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="vertical-item item-gallery content-absolute ds">
              <div class="item-media">
                <img src="assets/images/gallery/28.jpg" alt="img">
              </div>
              <div class="item-content dark-bg">
                <h5>
                  <a href="gallery-single.html">沉浸式水下探索</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Testimonials -->
<section id="testimonials" class="ls s-pb-90 s-pt-85 s-pb-xl-160 s-pt-xl-155">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center color-darkgrey mb-1">
          <span class="line-left">師資介紹</span>
        </p>
        <h3 class="text-center mt-0 mb-2 special-heading color-darkgrey">
          <span>潛水教練</span>
        </h3>
        <p class="text-center color-darkgrey fs-20 fw-500">
          <span>我們的專業潛水教練團隊擁有豐富的經驗與國際認證，致力於提供安全、專業且充滿樂趣的學習環境。不論是初學者還是進階學員，都能獲得最佳的指導與培訓，輕鬆踏入水下世界！</span>
        </p>

        <div class="divider-40 divider-xl-60"></div>

        <div class="quote-carousel owl-carousel" data-margin="0" data-responsive-lg="4" data-responsive-md="2"
          data-responsive-sm="2" data-responsive-xs="1" data-dots="false" data-loop="true" data-autoplay="true">
          <div class="quote-item quote-layout-1 vertical-item cover-image position-relative">
            <div class="quote-wrap text-center hero-bg position-relative">
              <img src="assets/images/transparent-square.png" alt="img">
              <div class="quote-content ">
                <h6>Alex Chen</h6>
                <p>
                  PADI資深教練，擁有超過10年潛水經驗，專精於技術潛水與自由潛水，熱愛帶領學員挑戰深海探險。
                </p>
                <p class="social-icons">
                  <a href="https://www.facebook.com/" class="fa bg-icon rounded-icon fa-facebook" title="facebook"></a>
                  <a href="https://twitter.com/" class="fa bg-icon rounded-icon fa-twitter" title="twitter"></a>
                  <a href="https://www.linkedin.com/" class="fa bg-icon rounded-icon fa-linkedin" title="linkedin"></a>
                </p>
              </div>
            </div>
            <div class="quote-image position-relative">
              <img src="assets/images/team/04.jpg" alt="img">
              <div class="media-links">
                <a class="abs-link" title="" href="team-single.html"></a>
              </div>
            </div>
          </div>
          <div class="quote-item quote-layout-1 vertical-item cover-image position-relative">
            <div class="quote-wrap text-center hero-bg position-relative">
              <img src="assets/images/transparent-square.png" alt="img">
              <div class="quote-content ">
                <h6>Lisa Wang</h6>
                <p>
                  SSI認證教練，專門教授初學者與兒童潛水課程，以細心和耐心著稱，讓每位學員都能安心學習。
                </p>
                <p class="social-icons">
                  <a href="https://www.facebook.com/" class="fa bg-icon rounded-icon fa-facebook" title="facebook"></a>
                  <a href="https://twitter.com/" class="fa bg-icon rounded-icon fa-twitter" title="twitter"></a>
                  <a href="https://www.linkedin.com/" class="fa bg-icon rounded-icon fa-linkedin" title="linkedin"></a>
                </p>
              </div>
            </div>
            <div class="quote-image position-relative">
              <img src="assets/images/team/06.jpg" alt="img">
              <div class="media-links">
                <a class="abs-link" title="" href="team-single.html"></a>
              </div>
            </div>
          </div>
          <div class="quote-item quote-layout-1 vertical-item cover-image position-relative">
            <div class="quote-wrap text-center hero-bg position-relative">
              <img src="assets/images/transparent-square.png" alt="img">
              <div class="quote-content ">
                <h6>David Lin</h6>
                <p>
                  擁有多國潛水執照，擅長沉船潛水與水下攝影，喜歡分享海洋生態知識，帶領學員發掘水底世界的美麗。
                </p>
                <p class="social-icons">
                  <a href="https://www.facebook.com/" class="fa bg-icon rounded-icon fa-facebook" title="facebook"></a>
                  <a href="https://twitter.com/" class="fa bg-icon rounded-icon fa-twitter" title="twitter"></a>
                  <a href="https://www.linkedin.com/" class="fa bg-icon rounded-icon fa-linkedin" title="linkedin"></a>
                </p>
              </div>
            </div>
            <div class="quote-image position-relative">
              <img src="assets/images/team/05.jpg" alt="img">
              <div class="media-links">
                <a class="abs-link" title="" href="team-single.html"></a>
              </div>
            </div>
          </div>
          <div class="quote-item quote-layout-1 vertical-item cover-image position-relative">
            <div class="quote-wrap text-center hero-bg position-relative">
              <img src="assets/images/transparent-square.png" alt="img">
              <div class="quote-content ">
                <h6>Emily Ho</h6>
                <p>
                  AIDA自由潛水教練，專注於呼吸控制與潛水心理學訓練，幫助學員提升水中表現，挑戰更深更遠的極限。
                </p>
                <p class="social-icons">
                  <a href="https://www.facebook.com/" class="fa bg-icon rounded-icon fa-facebook" title="facebook"></a>
                  <a href="https://twitter.com/" class="fa bg-icon rounded-icon fa-twitter" title="twitter"></a>
                  <a href="https://www.linkedin.com/" class="fa bg-icon rounded-icon fa-linkedin" title="linkedin"></a>
                </p>
              </div>
            </div>
            <div class="quote-image position-relative">
              <img src="assets/images/team/03.jpg" alt="img">
              <div class="media-links">
                <a class="abs-link" title="" href="team-single.html"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Price -->
<section id="price" class="ls s-pb-90 s-pt-85 s-pb-xl-160 s-pt-xl-155">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center color-darkgrey mb-1">
          <span class="line-left">價格</span>
        </p>
        <h3 class="text-center mt-0 mb-2 special-heading color-darkgrey">
          <span>潛水課程</span>
      </h3>
        <p class="text-center color-darkgrey fs-20 fw-500">
          <span>提供專業且完整的潛水課程，從初學者到進階認證，皆由經驗豐富的教練指導。小班制教學，確保安全與高效學習，帶你輕鬆探索水下世界！</span>
        </p>
        <div class="divider-60 divider-xl-60"></div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="pricing-plan price-layout-1">
          <div class="price-bg s-overlay cs">
            <div class="price-wrap">
              <span class="plan-sign">$</span>
              <span class="plan-price">45</span>
            </div>
            <div class="plan-name">
              <h3>
                私人課程
              </h3>
            </div>
          </div>
          <div class="pricing-body hero-bg">
            <div class="plan-features text-center">
              <ul class="list-bordered">
                <li class="enabled">潛水裝備租借</li>
                <li class="enabled">專業教練一對一指導</li>
                <li class="disabled">免費水下攝影</li>
                <li class="disabled">PADI 認證課程</li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="./contact2.html" class="btn btn-maincolor">預約課程</a>
            </div>
          </div>
        </div>
        <div class="divider-60 divider-lg-0"></div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="pricing-plan plan-featured price-layout-1 s-overlay cs">
          <div class="price-bg">
            <div class="price-wrap">
              <span class="plan-sign">$</span>
              <span class="plan-price">52</span>
            </div>
            <div class="plan-name">
              <h3>
                半私人課程
              </h3>
            </div>
          </div>
          <div class="pricing-body">
            <div class="plan-features text-center">
              <ul class="list-bordered">
                <li class="enabled">潛水裝備租借</li>
                <li class="enabled">小班制教學 (最多 2 人)</li>
                <li class="disabled">免費水下攝影</li>
                <li class="disabled">PADI 認證課程</li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="./contact2.html" class="btn btn-maincolor">預約課程</a>
            </div>
          </div>
        </div>
        <div class="divider-60 divider-lg-0"></div>
      </div>

      <div class="col-lg-4 col-md-6 mx-sm-auto">
        <div class="pricing-plan price-layout-1">
          <div class="price-bg s-overlay cs">
            <div class="price-wrap">
              <span class="plan-sign">$</span>
              <span class="plan-price">73</span>
            </div>
            <div class="plan-name">
              <h3>
                團體課程
              </h3>
            </div>
          </div>
          <div class="pricing-body hero-bg">
            <div class="plan-features text-center">
              <ul class="list-bordered">
                <li class="enabled">潛水裝備租借</li>
                <li class="enabled">團體教學 (最多 5 人)</li>
                <li class="disabled">免費水下攝影</li>
                <li class="disabled">PADI 認證課程</li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="./contact2.html" class="btn btn-maincolor">預約課程</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Shop -->
<section id="shop" class="ls ms s-pt-90 s-pb-60 s-pt-xl-160 s-pb-xl-130">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-4 text-center text-md-left">
        <div class="divider-0 divider-lg-200 divider-xl-150"></div>
        <p class="text-center text-md-left color-darkgrey mb-1">
          <span class="line-left">二手商店</span>
        </p>
        <h3 class="text-center text-md-left mt-0 mb-2 special-heading color-darkgrey">
          <span>找尋二手商品？</span>
        </h3>
        <!-- <p class="text-center text-md-left color-darkgrey fs-20 fw-500">
          <span>We want our clients to feel <br>awesome and unique. </span>
        </p> -->
        <div class="divider-30 divider-xl-40"></div>
        <a href="shop-left.html" class="btn btn-maincolor">看全部</a>
        <div class="divider-60 divider-lg-0"></div>
      </div>
      <div class="col-lg-6 col-xl-8">
        <ul class="owl-carousel products" data-responsive-lg="2" data-responsive-md="1" data-responsive-sm="2"
          data-responsive-xs="1" data-nav="false" data-margin="0" data-loop="true" data-autoplay="true">
          <li class="product">
            <div class="product-inner">
              <a href="shop-product-left.html">
                <img src="assets/images/shop/34.jpg" alt="img">
              </a>

              <div class="product-wrap">
                <h2 class="woocommerce-loop-product__title">
                  <a href="shop-product-left.html">CARBONIO GFT – ONDA VTR H.F. 32° 玻璃纖維長蛙鞋 藍迷彩/黑迷彩/零碼現貨</a>
                </h2>
                <div class="star-rating">
                  <span style="width:80%">評分 <strong class="rating">4.00</strong> out of 5</span>
                </div>
                <div class="price-wrap">
                  <span class="price">
                    <span>
                      <span>$</span>250
                    </span> – <span class="woocommerce-Price-amount amount">
                      <span>$</span>1350
                    </span>
                  </span>
                  <a rel="nofollow" href="shop-cart.html" class="button product_type_simple add_to_cart_button">加入購物車</a>
                </div>
              </div>
            </div>
          </li>
          <li class="product">
            <div class="product-inner">
              <a href="shop-product-left.html">
                <img src="assets/images/shop/35.jpg" alt="img">
              </a>

              <div class="product-wrap">
                <h2 class="woocommerce-loop-product__title">
                  <a href="shop-product-left.html">SPECIALFINS-裝備袋 / 展示品</a>
                </h2>
                <div class="star-rating">
                  <span style="width:80%">評分 <strong class="rating">4.00</strong> out of 5</span>
                </div>
                <div class="price-wrap">
                  <span class="price">
                    <span>
                      <span>$</span>30.00
                    </span> – <span class="woocommerce-Price-amount amount">
                      <span>$</span>35.00
                    </span>
                  </span>
                  <a rel="nofollow" href="shop-cart.html" class="button product_type_simple add_to_cart_button">加入購物車</a>
                </div>
              </div>
            </div>
          </li>
          <li class="product">
            <div class="product-inner">
              <a href="shop-product-left.html">
                <img src="assets/images/shop/36.jpg" alt="img">
              </a>

              <div class="product-wrap">
                <h2 class="woocommerce-loop-product__title">
                  <a href="shop-product-left.html">AROPEC - 兒童款一件式短袖短褲防寒衣 DS-3B117C</a>
                </h2>
                <div class="star-rating">
                  <span style="width:80%">評分 <strong class="rating">4.00</strong> out of 5</span>
                </div>
                <div class="price-wrap">
                  <span class="price">
                    <span>
                      <span>$</span>30.00
                    </span> – <span class="woocommerce-Price-amount amount">
                      <span>$</span>35.00
                    </span>
                  </span>
                  <a rel="nofollow" href="shop-cart.html" class="button product_type_simple add_to_cart_button">加入購物車</a>
                </div>
              </div>
            </div>
          </li>
          <li class="product">
            <div class="product-inner">
              <a href="shop-product-left.html">
                <img src="assets/images/shop/37.jpg" alt="img">
              </a>

              <div class="product-wrap">
                <h2 class="woocommerce-loop-product__title">
                  <a href="shop-product-left.html">OMER - 配重背心用鉛片5入組 / 每片500g (NG福利品)</a>
                </h2>
                <div class="star-rating">
                  <span style="width:80%">評分 <strong class="rating">4.00</strong> out of 5</span>
                </div>
                <div class="price-wrap">
                  <span class="price">
                    <span>
                      <span>$</span>30.00
                    </span> – <span class="woocommerce-Price-amount amount">
                      <span>$</span>35.00
                    </span>
                  </span>
                  <a rel="nofollow" href="shop-cart.html" class="button product_type_simple add_to_cart_button">加入購物車</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Section Mailchimp
<section id="mail" class="section-mailchimp s-py-90 s-py-xl-100 s-overlay ds ms s-parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h3 class="special-heading text-center text-lg-left mb-2">
          <span>首次下單獲得30%折扣</span>
        </h3>
        <p class="text-center text-center text-lg-left fw-500 text-white fs-20">
          <span>訂閱我們的電子報，以獲取最新消息和優惠。</span>
        </p>

        <div class="fw-divider-space divider-30 divider-xl-50"></div>
        <div class="widget widget_mailchimp">
          <form class="signup" action="/">
            <div class="mc4wp-form-fields">
              <div class="mailchimp-1">
                <span class="form-group">
                  <input id="mailchimp_email" name="email" type="email" class="form-control mailchimp_email"
                    placeholder="輸入您的電子郵件">
                </span>
                <button type="submit" class="btn btn-maincolor btn-medium">訂閱</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->
