<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
  <div class="fw-messages-wrap ls p-normal">
  </div>
</div><!-- eof .modal -->
<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
  <div id="box_wrapper">

    <section class="page_title ds s-parallax s-overlay s-pt-160 s-pb-80">
      <div class="container-fluid" style="width: 80%;">
        <div class="row">

          <div class="col-md-12">
            <h1>二手商品</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="./pricing.html">首頁</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#/used-products">二手商品</a>
              </li>
            </ol>
          </div>

        </div>
      </div>
    </section>

    <section class="ls s-py-90  c-gutter-60">
      <div class="container-fluid" style="width: 80%;">
        <div class="row">
          <main class="col-lg-9 col-xl-10 order-lg-2">
            <div class="">
              <div class="products-selection">
                <p class="woocommerce-result-count">
                  顯示所有商品</p>
                <form class="woocommerce-ordering" method="get">
                  <select name="orderby" class="orderby">
                    <option value="menu_order" selected="selected">排序</option>
                    <option value="price">按價格：由低到高排序</option>
                    <option value="price-desc">按價格：由高到低排序</option>
                  </select>
                </form>
              </div>
              <ul class="products columns-4">
                <li *ngFor="let product of usedProducts" class="product">
                  <div class="product-inner rounded shadow p-3 mb-5 bg-body-tertiary rounded">
                    <ul>
                      <!-- <li>
                        <img class="user-avatar" src="https://via.placeholder.com/40" alt="使用者頭像">
                      </li> -->
                      <li>
                        <div class="user-info">
                          <span class="username">{{ product.sellerName }}</span>
                          <span class="timestamp">{{ product.createdAt | date:'yyyy年MM月dd日' }}</span>
                        </div>
                      </li>
                    </ul>
                    <a [routerLink]="['/product', product.productId]">
                      <img class="rounded" [src]="'data:image/png;base64,'+product.tUproductImages"
                        alt="{{ product.productName }}">
                    </a>
                    <div class="product-wrap">
                      <h2 class="woocommerce-loop-product__title">
                        <a href="shop-product-left.html">{{ product.productName }}</a>
                      </h2>
                      <div class="star-rating">
                        <span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                      </div>
                      <div class="price-wrap">
                        <span class="price">
                          <span>
                            <span>$</span>{{ product.productPrice }}
                          </span>
                        </span>
                        <a rel="nofollow" href="shop-cart.html"
                          class="button product_type_simple add_to_cart_button">加入購物車</a>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
            <!-- columns 2 -->

            <nav class="woocommerce-pagination d-flex justify-content-between">
              <ul class="page-numbers">
                <li>
                  <span class="page-numbers current">1</span>
                </li>
                <li>
                  <a class="page-numbers" href="shop-left.html">2</a>
                </li>
                <li>
                  <a class="next page-numbers" href="shop-left.html">→</a>
                </li>
              </ul>
              <button class="btn btn-darkgrey sell-button links-maincolor-hover" routerLink="/usedproductshow"> 出售
              </button>
            </nav>
          </main>
          <aside class="col-lg-3 col-xl-2 order-lg-1">
            <div class="ls ms">
              <div class="widget widget_product_search">

                <h3 class="widget-title">搜尋</h3>

                <form role="search" class="woocommerce-product-search" action="/">

                  <label class="screen-reader-text" for="woocommerce-product-search-field-widget">
                    Search for:
                  </label>

                  <input type="search" id="woocommerce-product-search-field-widget" class="search-field"
                    placeholder="搜尋商品" value="" name="search">
                  <input type="submit" value="Search">
                </form>
              </div>
            </div>

            <div class="widget woocommerce widget_product_categories">
              <h3 class="widget-title">分類</h3>
              <ul class="product-categories">
                <li class="cat-item">
                  <a href="shop-right.html">面罩與呼吸管</a>
                  <span class="count">(6)</span>
                </li>
                <li class="cat-item">
                  <a href="shop-right.html">防護與保暖裝備</a>
                  <span class="count">(8)</span>
                </li>
                <li class="cat-item">
                  <a href="shop-right.html">蛙鞋</a>
                  <span class="count">(4)</span>
                </li>
                <li class="cat-item">
                  <a href="shop-right.html">其他配件</a>
                  <span class="count">(9)</span>
                </li>
              </ul>
            </div>
            <div class="widget woocommerce widget_top_rated_products">
              <h3 class="widget-title">Top 3商品</h3>
              <ul class="product_list_widget">
                <li>
                  <a href="shop-product-right.html">
                    <img class="rounded" src="assets/images/shop/41.jpg" alt="img">
                    <span class="product-title">潛水鞋</span>
                  </a>
                  <div class="star-rating">
                    <span style="width:100%">Rated
                      <strong class="rating">5.00 </strong>
                      out of 5
                    </span>
                  </div>
                  <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">$</span>
                    999
                  </span>
                </li>

                <li>
                  <a href="shop-product-right.html">
                    <img class="rounded" src="assets/images/shop/42.jpg" alt="img">
                    <span class="product-title">全罩式浮潛面罩</span>
                  </a>
                  <div class="star-rating">
                    <span style="width:100%">Rated
                      <strong class="rating">5.00</strong>
                      out of 5
                    </span>
                  </div>
                  <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">$</span>
                    1499
                  </span>
                </li>

                <li>
                  <a href="shop-product-right.html">
                    <img class="rounded" src="assets/images/shop/43.jpg" alt="img">
                    <span class="product-title">傳統式呼吸管</span>
                  </a>
                  <div class="star-rating">
                    <span style="width:100%">Rated
                      <strong class="rating">5.00</strong>
                      out of 5
                    </span>
                  </div>
                  <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">$</span>
                    799
                  </span>
                </li>

              </ul>
            </div>

          </aside>
        </div>

      </div>
    </section>

  </div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->