<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->
<!-- 
	<div class="preloader">
		<div class="preloader_image pulse"></div>
	</div> -->

	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form" action="/">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class="btn">Search</button>
			</form>
		</div>
	</div>

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls p-normal">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

		</div>
	</div><!-- eof .modal -->

	<div class="modal fade popupLogin" id="popupLogin" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content ds ms overflow-visible s-overlay s-mobile-overlay">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<h4 class="color-main mb-3">Log in</h4>
								<form class="form-registration c-mb-20 c-gutter-20" action="/">
									<div class="row mb-4">
										<div class="col-sm-12">
											<div class="form-group">
												<input type="text" name="name" class="form-control" required placeholder="login" aria-required="true">
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												<input type="password" name="password" class="form-control" placeholder="password" aria-required="true" required>
											</div>
										</div>
									</div>
									<a class="registerRedirect " data-dismiss="modal" data-target="#popupRegistr" data-toggle="modal" href="#">Not a member? Register!</a>
									<button type="submit" class="btn btn-maincolor mt-30 d-block">Sign In</button>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade popupRegistr" id="popupRegistr" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content ds ms overflow-visible s-overlay s-mobile-overlay">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<h4 class="color-main mb-4">Registration</h4>
								<form class="form-registration c-mb-20 c-gutter-20" method="post" action="/">
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<input type="text" name="name" class="form-control" required placeholder="login" aria-required="true">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="password" name="password" class="form-control" placeholder="password" aria-required="true" required>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="email" name="email" class="form-control" placeholder="email" required aria-required="true">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="password" name="confirmPassword" class="form-control" placeholder="password" required aria-required="true">
											</div>
										</div>
										<div class="col-12">
											<div class="form-group">
												<input type="checkbox" id="agreed" name="agreed" value="agreed" required aria-required="true"><label for="agreed">I agree to the rules</label>
											</div>
										</div>
									</div>
									<button type="submit" class="btn btn-maincolor mt-30 d-block">Registration</button>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->


			<div class="header_absolute ds cover-background ">
				<!-- header with three Bootstrap columns - left for logo, center for navigation and right for includes-->
				<header class="page_header ds ms s-overlay">
					<div class="container-fluid">
						
					</div>
					<!-- header toggler -->
					<span class="toggle_menu"><span></span></span>
				</header>

			</div>

			<section class="page_title ds s-parallax s-overlay s-pt-160 s-pb-80">
				<div class="container">
					<div class="row">

						<div class="col-md-12">
							<h1>課程介紹 CourseDetails</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="./">Home</a>
								</li>
								<li class="breadcrumb-item">
									<a href="#">Courses</a>
								</li>
								<li class="breadcrumb-item active">
									Details
								</li>
							</ol>
						</div>

					</div>
				</div>
			</section>


			<section class="ls s-py-90 s-py-xl-160">
				<div class="container">
					<div class="row c-gutter-60">
						<main class="offset-lg-1 col-lg-10">
							<article class="vertical-item content-padding hero-bg post type-event status-publish format-standard has-post-thumbnail">
								<div class="item-media post-thumbnail">
									<img src="assets/images/courses/snorkeling_1.jpg" alt="img">
								</div>
								<div>
									<!-- 收藏愛心按鈕 -->
    							<a href="#" class="favorite-icon">
        
									<i class="fa-regular fa-heart"></i>
    							</a>
								
								</div>

								<div class="item-content">
									<!-- .post-thumbnail -->
									<header class="entry-header">

										<div class="entry-meta">
											<span >
												<i class="fa fa-calendar" aria-hidden="true"></i>
												<a  href="event-single-left.html" rel="bookmark">
													<time class="entry-date published updated" datetime="2018-03-18T15:15:12+00:00" style="font-size: 18px;">2025.02.28</time>
												</a>
											</span>
											<span >
												<i class="fa-solid fa-turn-up" style="color: #598aa4;"></i>
												<span  style="font-size: 18px;">無分級ungraded</span>
												<!-- <i class="fa fa-map-marker"></i> <span>Molestiae numquam officia</span> -->
											</span>	
											<span >
												<i class="fa-solid fa-user" style="color: #598aa4;"></i>								
												<span  style="font-size: 18px;">李福禧</span>
												<!-- <i class="fa fa-map-marker"></i> <span>Molestiae numquam officia</span> -->
											</span>				

										</div>
										<!-- .entry-meta -->

									</header>
									<!-- .entry-header -->

									<div class="entry-content">
										<p class="excerpt">
											2/29屏東小琉球浮潛｜推薦蟹老闆｜浮潛找海龜｜免費拍照｜空拍
										</p>

										<p style="font-size: 18px;">
											小琉球是台灣著名的離島旅遊勝地，更是愛好浮潛等海上活動者的最佳玩樂天堂，這個夏天，就出發來去小琉球浮潛吧！
											小琉球位於屏東縣東港鎮西南方，為一座美麗的珊瑚礁島嶼，小琉球海水溫度終年都在攝氏25度以上，擁有全台灣境內最高的年平均海溫，溫暖的海水更孕育了美麗的珊瑚礁群，非常適合進行浮潛等海上活動!<br>
											<br>
											‧親子同樂、全家共遊行程<br>
											‧教練專業指導、全程跟隨<br>
											‧免費拍照<br>
											‧海龜共遊<br>
			
										</p>
										<hr>

										<ul class="list-styled" style="font-size: 18px;">
											<h6>費用包含/不包含</h6>
											<li>冬天 防寒衣</li>
											<li>防滑礁鞋</li>
											<li>救生衣</li>
											<li>面鏡 呼吸管</li>
											<li>置物櫃</li>
											<li>活動拍照</li>
											<li>水域活動責任險</li>
											<li>意外保險</li>
											<li>體驗費用</li>

										</ul>

										<p>
											


									</div>
									<!-- 價格區域 -->	
									<div class="post-content">
										<!-- 價格 -->					
										<div class="post-price">$1500</div> 									
									</div>
									
									<!-- .entry-content -->

								</div>
								<!-- .item-content -->
							</article>


							<div id="comments" class="comments-area">

								<ol class="comment-list">
									<li class="comment">
										<article class="comment-body">
											<footer class="comment-meta">
												<div class="comment-author vcard">
													<img alt="img" src="/assets/images/courses/coachF_1.jpg">
													<!-- <h6 class="mt-0">李福禧</h6><p>女</p> -->
													<h6 class="mt-0">李福禧</h6><p class="gender">女</p>
												</div>
												<!-- .comment-author -->
											</footer>
											<!-- .comment-meta -->

											<div class="comment-content mt-15">
												常在海邊走有你有我<br>
												常在海邊走有我有他<br>
												常在海邊走有他有你
											</div>
											<!-- .comment-content -->
											<p class="item-meta">
												<span class="edit-link">
													<!-- <i class="fa fa-edit"></i> -->
													<i class="fa-brands fa-instagram" style="color: #598aa4;"></i>
													<a class="comment-edit-link" href="#">Instagram</a>
												</span>
												<span class="comment-reply-link">
													<!-- <i class="fa fa-share-square-o "></i> -->
													<i class="fa-brands fa-threads" style="color: #598aa4;"></i>
													<a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to John Doe">Threads</a>
												</span>
												<span>
													<!-- <i class="fa fa-calendar" aria-hidden="true"></i> -->
													<i class="fa-brands fa-square-facebook" style="color: #598aa4;"></i>
													<a href="#">
														<time datetime="2019-05-20T13:05:42+00:00">Facebook</time>
													</a>
												</span>
											</p>											
										</article>
										<!-- .comment-body -->
									</li>
									<!-- #comment-## -->

									<li class="comment">
										
										<!-- .comment-body -->
									</li>
									<!-- #comment-## -->

									<li class="comment">
										
										<!-- .comment-body -->
										<ol class="children">
											<li class="comment">
												
												<!-- .comment-body -->
												
											</li>
											<!-- #comment-## -->
										</ol>
										<!-- .children -->
									</li>
									<!-- #comment-## -->
								</ol>
								<!-- .comment-list -->


								<div id="respond" class="comment-respond ls ls">
									
									<form action="/" method="post" id="commentform" class="comment-form" novalidate="">
										
										<p class="form-submit mt-10">
											<button  routerLink="/coursecheckout"  name="submit" type="submit" id="submit" class="btn btn-maincolor btn-medium mb-0 submit">直接購買</button>
											<input type="hidden" name="comment_post_ID" value="1637" id="comment_post_ID">
											<input type="hidden" name="comment_parent" id="comment_parent" value="0">
										</p>
									</form>
								</div>
								<!-- #respond -->

							</div>

						</main>
					</div>
				</div>
			</section>

			<footer class="page_footer ds ms s-py-90 s-py-xl-160 c-gutter-100">
				<div class="container">
					<div class="row">
						<div class="col-xl-4 col-lg-3 text-center text-lg-left animate" data-animation="fadeInUp">
							<div class="widget widget_text">
								<img src="images/logo.png" alt="logo">
								<p>
									The estuary is the well-known kite spot in the lagoon. Two launches are possible.
								</p>
								<p class="social-icons">
									<a href="https://www.facebook.com/" class="fa bg-icon rounded-icon fa-facebook" title="facebook"></a>
									<a href="https://twitter.com/" class="fa bg-icon rounded-icon fa-twitter" title="twitter"></a>
									<a href="https://www.instagram.com/" class="fa bg-icon rounded-icon fa-instagram" title="instagram"></a>
								</p>
							</div>
							<div class="divider-60 divider-lg-0"></div>
						</div>

						<div class="col-xl-4 col-lg-5 text-center text-lg-left animate" data-animation="fadeInUp">
							<div class="widget widget_nav_menu">
								<h3>Userful Link</h3>
								<ul class="menu">
									<li class="menu-item">
										<a href="./index_blocks.html">Homeblocks</a>
									</li>
									<li class="menu-item">
										<a href="./about.html">About</a>
									</li>
									<li class="menu-item">
										<a href="./team.html">Team</a>
									</li>
									<li class="menu-item">
										<a href="./contact.html">Contact Us</a>
									</li>
									<li class="menu-item">
										<a href="./pricing.html">Pricing</a>
									</li>
									<li class="menu-item">
										<a href="./shortcodes_typography.html">Typography</a>
									</li>
									<li class="menu-item">
										<a href="./shop-left.html">Shop</a>
									</li>
									<li class="menu-item">
										<a href="./services2.html">Services</a>
									</li>
									<li class="menu-item">
										<a href="./service-single.html">Single Service</a>
									</li>
									<li class="menu-item">
										<a href="./gallery-tiled.html">Gallery</a>
									</li>
								</ul>
							</div>
							<div class="divider-60 divider-lg-0"></div>
						</div>

						<div class="col-xl-4 col-lg-4 text-center text-lg-left animate" data-animation="fadeInUp">
							<div class="widget widget_flickr">

								<h3 class="widget-title">Flickr</h3>
								<ul class="flickr_ul"></ul>
							</div>
						</div>
					</div>
				</div>
			</footer>

			<section class="page_copyright ls s-py-25">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-12 text-center">
							<p>&copy; Copyright <span class="copyright_year">2020</span> All Rights Reserved</p>
						</div>
					</div>
				</div>
			</section>


		</div><!-- eof #box_wrapper -->
	</div><!-- eof #canvas -->