.btn-transparent {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.delete-btn{
  min-width: 50px;
}
.picture {
  color: black;
}
.test {
  width: 40px;
  height: 40px;
  font-size: 18px; /* 圖示大小 */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
