/* top-bar 父容器，使用 flex 來排列新增課程按鈕與查詢區塊 */
.top-bar {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: space-between; /* 項目之間分開排列 */
    margin-bottom: 20px; /* 增加底部邊距 */
  }
  
  .add-button {
    padding: 10px;
    background-color:#0d425e;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 20px; /* 增加右邊距，讓按鈕與查詢區域有間隔 */
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    gap: 15px; /* 使元素有間距 */
  }
  
  .search-bar select{
    width: 200px;;

  }
  .search-bar .short-input {
    padding: 5px;
    width: 400px; /* 調整關鍵字輸入框寬度 */
  }
  
  .search-bar .btn-group {
    display: flex;
    gap: 10px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #f1c40f;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #f39c12;
  }
  main {
    max-width: 95%;  /* 增加最大寬度 */
    margin: 0 auto;  /* 置中 */
  }

  table {
    width: 100%;
    table-layout: fixed;  /* 確保寬度按照百分比分配 */
  }
  th:nth-child(1) { width: 8%; }   /* 訂單編號 */
  th:nth-child(2) { width: 15%; }   /* 課程圖片 */
  th:nth-child(3) { width: 14%; }   /* 課程名稱 */
  th:nth-child(4) { width: 12%; }   /* 分類 */
  th:nth-child(5) { width: 3%; }   /* 等級 */
  th:nth-child(6) { width: 3%; }   /* 教練 */
  /* th:nth-child(7) { width: 3%; }   起始日期 */
  /* th:nth-child(8) { width: 3%; }   單價 */
  /* th:nth-child(9) { width: 3%; }   訂單金額 */
  /* th:nth-child(10) { width: 3%; }   訂購時間 */
  
  .table-btn {
    width: 100%; /* 讓按鈕撐滿 td */
    max-width: 120px; /* 限制最大寬度，避免過大 */
    padding: 5px; /* 增加按鈕內邊距 */
    box-sizing: border-box; /* 確保 padding 不影響寬度 */
  }
  .course-table{
    display: block;
    text-align: center;
  }

   button{
     border-radius: 5px;
   }
