.item-media {
  position: relative; /* 設定父元素為相對定位，讓內部絕對定位的元素基於此調整 */
}

/* 愛心按鈕 */
.favorite-icon {
  position: absolute;
  right: 10px;
  color: rgb(89, 138, 164);
  font-size: 25px;
}

.favorite-icon:hover {
  color: rgb(35, 209, 253);
}

/* 價格標籤 */
.price-tag {
  position: absolute;
  right: 50px; /* 讓價格不會與愛心圖示重疊 */
  font-size: 18px;
  color: #598aa4;
}

/* 課程資訊排列 */
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 0;
}

/* 課程資訊項目 */
.info-item {
  font-size: 18px;
  color: #598aa4;
}

/* 文章內容區域 */
.post-content {
  position: relative;
  color: #0d425e;
}

/* 文章價格 */
.post-price {
  position: absolute;
  right: 10px;
  font-size: 50px;
  font-weight: bold;
  color: #166792;
  bottom: -15px;
}

/* 通用字體大小設置 */
.cat-item,
.entry-content,
.entry-meta {
  font-size: 18px;
}

/* 設定 entry-meta 與上方內容的間距 */
.entry-meta {
  margin-top: 10px;
}
