//color schemes
//1
$styleNumber: '';
$colorMain: #fdd123;
$colorMain2: #2394fd;
$colorMain3: #3bbf31;
$colorMain4: #d22348;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;