//color schemes
//2
$styleNumber: '2';
$colorMain: #2394fd;
$colorMain2: #3bbf31;
$colorMain3: #d22348;
$colorMain4: #fdd123;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;