//color schemes
//3
$styleNumber: '3';
$colorMain: #3bbf31;
$colorMain2: #d22348;
$colorMain3: #fdd123;
$colorMain4: #2394fd;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;