<div class="container mt-5 pb-5">
  <div class="ds ms overflow-visible s-overlay s-mobile-overlay">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-12">
          <h4 class="color-main mb-3">重置密碼</h4>
          <div *ngIf="errorMessage" class="text-center text-danger" style="font-size: larger">
            {{ errorMessage }}
          </div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form-registration c-mb-20 c-gutter-20"
            action="/">
            <div class="row mb-4">
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-label" for="newPassword" (click)="autoFillPassword()">新密碼</label>
                  <input type="password" id="newPassword" formControlName="newPassword" class="form-control"
                    placeholder="請輸入新密碼" required aria-required="true">
                  <div
                    *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid"
                    class="text-danger">
                    密碼必須為6~12字元，包含大小寫英文和數字，無特殊符號
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-label" for="confirmPassword">確認密碼</label>
                  <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                    placeholder="請再次輸入密碼" required aria-required="true">
                  <div
                    *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.invalid"
                    class="text-danger">
                    <span
                      *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required'] || resetPasswordForm.get('confirmPassword')?.errors?.['minlength'] || resetPasswordForm.get('confirmPassword')?.errors?.['maxlength'] || resetPasswordForm.get('confirmPassword')?.errors?.['pattern']">
                      密碼必須為6~12字元，包含大小寫英文和數字，無特殊符號
                    </span>
                    <span *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['notMatching']">
                      新密碼與確認密碼不一致
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" id="token" [value]="token">
            <button type="submit" class="btn btn-maincolor mt-30 d-block" style="justify-self: center"
              [disabled]="resetPasswordForm.invalid">
              提交
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
